@charset "UTF-8";
/*Formstack Colors*/
.fsBody .fsForm input[type=submit] {
  background: #F99F34 !important;
  color: #fff !important;
  padding: 1em 1.5em !important;
  border-radius: 0.25em !important;
}

.fsBody .fsForm input[type=submit]:hover {
  background: #564C4E !important;
}

.fsBody .fsForm .fsField[type=radio]:checked,
.fsBody .fsForm .fsField[type=checkbox]:checked {
  border-color: #F99F34 !important;
}

.fsBody .fsForm .fsField[type=radio]::before,
.fsBody .fsForm .fsField[type=checkbox]::before {
  background: #F99F34 !important;
}

.fsBody .fsForm .fsField[type=radio]::after {
  background: #fff !important;
}

.fsBody .fsField[type=checkbox]::after {
  color: #fff !important;
}

.fsBody .fsForm .fsField:focus {
  border-color: #F99F34 !important;
  background: #fbfbfb !important;
  outline: none;
}

/*Formstack*/
.fsPage {
  max-width: 500px;
}

.fsBody * {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
  line-height: inherit !important;
}

.fsBody form {
  float: none !important;
}

.fsBody .fsSection:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.fsBody .fsSectionHeader {
  background: transparent;
}

.fsBody .fsSectionHeading {
  font-size: 1.75rem !important;
  font-weight: 600;
}

.fsBody .fsCell {
  position: relative;
  padding: 0 !important;
  margin: 0 0 1rem 0 !important;
}

.fsBody .fsForm,
.fsForm .fsSpacerRow .fsRowBody {
  background: none !important;
}

.fsBody .fsLabel {
  display: block;
  margin: 0 0 0.5em 0;
  line-height: 1 !important;
}

.fsBody .fsRequiredMarker {
  font-weight: 600;
  margin-left: 0.25em;
  font-size: 0.75rem !important;
  vertical-align: text-top;
  opacity: 0.5;
}

.fsBody .fsField,
.fsBody input,
.fsBody select,
.fsBody textarea {
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  max-width: none !important;
  padding: 0.5rem !important;
  background: #fff;
  border: 1px solid;
  border-color: #dee2e6 !important;
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.fsBody textarea {
  resize: vertical;
}

.fsBody .fsSubFieldGroup {
  margin-top: 0.5em;
}

.fsBody .fsSubFieldGroup .fsSupporting {
  font-size: 0.875rem !important;
  margin-bottom: 0.5em;
  line-height: 1 !important;
}

.fsBody .fsSubField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  margin-top: 0.5em;
}

.fsBody .fsSupporting {
  font-size: 0.75rem !important;
  margin-top: 0.25em;
}

.fsBody .fsPagination {
  text-align: left;
}

.fsBody input[type=submit] {
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  width: auto;
  border: none;
  font-size: inherit !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.fsBody fieldset {
  margin: 2rem 0 0.25em;
  border: none;
}

.fsBody fieldset .fsField {
  width: auto;
  margin-right: 0.5em;
}

.fsBody .fsOptionLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
}

.fsBody .fieldset-content {
  margin-left: 0.5em;
}

.fsBody .fsCreditcardNumberField-icon {
  z-index: 2;
}

.fsBody .fsFieldAddress2 {
  margin-top: 0.5em !important;
}

.fsBody table {
  width: 100%;
}

.fsBody .fsForm table .fsMatrixLabelRow.fsMatrixLabelRow,
.fsBody table th {
  text-align: left;
}

.fsBody .fsForm table .fsMatrixLabel,
.fsBody table td {
  text-align: center;
  padding: 0.25em 0;
  font-weight: inherit;
}

.fsBody .fsField::after,
.fsBody .fsField::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.fsBody .fsForm .fsField[type=radio],
.fsBody .fsForm .fsField[type=checkbox] {
  position: relative;
  cursor: pointer;
}

.fsBody .fsForm .fsField[type=radio]::after,
.fsBody .fsForm .fsField[type=checkbox]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.fsBody .fsField[type=radio],
.fsBody .fsField[type=radio]::before {
  border-radius: 50% !important;
  overflow: hidden;
}

.fsBody .fsField[type=radio]::before,
.fsBody .fsField[type=checkbox]::before {
  content: "";
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  border-radius: 0.15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 10%;
  left: 10%;
}

.fsBody .fsField[type=checkbox]::after {
  content: "" !important;
  font-family: "Font Awesome 5 Pro" !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.6875rem;
  font-weight: 900;
}

.fsBody .fsField[type=radio]:hover::after,
.fsBody .fsField[type=checkbox]:hover::after {
  opacity: 0.5;
}

.fsBody .fsForm .fsField[type=radio]:checked::before,
.fsBody .fsForm .fsField[type=checkbox]:checked::before,
.fsBody .fsForm .fsField[type=checkbox]:checked::after {
  opacity: 1;
}

.fsBody .fsFieldState {
  position: relative;
}

.fsBody .fsCell[fs-field-type=select] {
  cursor: pointer;
}

.fsBody .fsCell[fs-field-type=select]::after,
.fsBody .fsFieldState::after {
  content: "";
  position: absolute;
  right: 0.5em;
  bottom: 12px;
  font-family: "Font Awesome 5 Pro" !important;
}

.fsBody .fsCell[fs-field-type=address] .fsSubFieldGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -0.5em;
}

.fsBody .fsCell[fs-field-type=address] .fsSubFieldGroup > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0.5em;
  min-width: 150px;
}

.fsBody .fsCell[fs-field-type=datetime] .fieldset-content,
.fsBody .fsForm .fsCell[fs-field-type=datetime] .always-ltr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  margin: 0.5em 0 0;
}

.fsBody .fsCell[fs-field-type=datetime] .fieldset-content > select,
.fsBody .fsForm .fsCell[fs-field-type=datetime] .always-ltr > select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 125px;
}

.fsBody .fsCell[fs-field-type=datetime] .always-ltr span {
  display: none;
}

.fsBody .fsCell[fs-field-type=datetime] .ui-datepicker-trigger {
  display: none;
}

.fsBody .fsForm .fsCurrencyPrefix {
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 2;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  border-right: 1px solid #dee2e6;
}

.fsBody .fsForm .fsCurrencyPrefix + input[type=number] {
  padding-left: calc(44px + 0.5em) !important;
}

.fsBody .fsError {
  width: 100%;
  margin: 1em 0;
  padding: 1em;
}

.fsBody .fsValidationError {
  background: none;
}

.fsBody .fsValidationError input {
  color: red !important;
  border: red 1px solid !important;
}

.fsBody .fsValidationError .fsLabel {
  padding-left: 0 !important;
  background-image: none !important;
}

.fsBody .fsFileUploadButton {
  cursor: pointer;
}

.fsBody .fsFileUploadButton[id*=Delete] {
  background: #ffefef;
  margin: 0.25em 0 0;
}

body#tinymce {
  background: #FBFBFB;
  padding: 1em;
  min-height: 100vh;
}

/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px #19F;
          box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot:only-child {
  display: none;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html[lang=en] {
  opacity: 0;
}

html.wf-active,
html.wf-inactive {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

body {
  color: #231F20;
  background: #fff;
  font-family: neuzeit-grotesk, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  max-width: 100vw;
  overflow-x: hidden;
}

p, figure:not(.fig) figcaption {
  font-size: 16px;
  font-size: 1rem;
  margin: 0 0 1em;
  font-weight: 400;
  line-height: 1.5;
}
p, figure:not(.fig) figcaption {
  font-size: 1rem;
}
@media screen and (min-width: 38rem) {
  p, figure:not(.fig) figcaption {
    font-size: calc(1rem + 0.125 * ((100vw - 38rem) / 32));
  }
}
@media screen and (min-width: 70rem) {
  p, figure:not(.fig) figcaption {
    font-size: 1.125rem;
  }
}

p:last-of-type, figure:not(.fig) figcaption:last-of-type {
  margin: 0;
}

a {
  color: #F99F34;
}

h1 {
  line-height: 1.2;
  font-weight: 600;
}
h1 {
  font-size: 2.5rem;
}
@media screen and (min-width: 38rem) {
  h1 {
    font-size: calc(2.5rem + 1 * ((100vw - 38rem) / 32));
  }
}
@media screen and (min-width: 70rem) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  line-height: 1.2;
  font-weight: 600;
}
h2 {
  font-size: 1.75rem;
}
@media screen and (min-width: 38rem) {
  h2 {
    font-size: calc(1.75rem + 0.75 * ((100vw - 38rem) / 32));
  }
}
@media screen and (min-width: 70rem) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  line-height: 1.2;
  font-weight: 600;
}
h3 {
  font-size: 1.25rem;
}
@media screen and (min-width: 38rem) {
  h3 {
    font-size: calc(1.25rem + 0.5 * ((100vw - 38rem) / 32));
  }
}
@media screen and (min-width: 70rem) {
  h3 {
    font-size: 1.75rem;
  }
}

h1,
h2,
h3 {
  font-family: cronos-pro, sans-serif;
  margin: 0 0 0.25em;
  width: 100%;
}

ol,
ul {
  font-size: 16px;
  font-size: 1rem;
  padding: 0 0 1.5em 2em;
  line-height: 1.6;
  overflow: hidden;
}
ol,
ul {
  font-size: 1rem;
}
@media screen and (min-width: 38rem) {
  ol,
ul {
    font-size: calc(1rem + 0.125 * ((100vw - 38rem) / 32));
  }
}
@media screen and (min-width: 70rem) {
  ol,
ul {
    font-size: 1.125rem;
  }
}

ul {
  list-style: outside disc;
}

li {
  position: relative;
}

blockquote {
  position: relative;
  max-width: 600px;
  margin: 3em auto;
  padding: 2rem;
  background: #fef1e2;
  color: #4c4345;
  font-style: italic;
  text-align: center;
  -webkit-box-shadow: 0 2px 4px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 2px 4px 0 rgba(35, 31, 32, 0.1);
}

blockquote::before,
blockquote::after {
  color: #F99F34;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  position: absolute;
  font-size: 22px;
  font-size: 1.375rem;
}

blockquote::before {
  content: "";
  left: 0.5em;
  top: 0.5em;
}

blockquote::after {
  content: "";
  right: 0.5em;
  bottom: 0.5em;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: none;
}

figure:not(.fig) figcaption {
  margin-top: 0.5em;
  font-size: 1rem;
}
figure:not(.fig):not(.fig) {
  max-width: 100% !important;
}
figure:not(.fig):not(.fig) img {
  max-width: 100% !important;
  height: auto !important;
}
@media (max-width: 768px) {
  figure:not(.fig):not(.fig)[style*=float] {
    float: none !important;
    width: 100% !important;
    margin: 0.5em auto !important;
  }
}

main {
  min-height: 72vh;
}

section {
  margin: 0 auto 3em;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em;
}
.container .container {
  padding: 0;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

hr {
  margin: 1em auto;
  border: none;
  text-align: center;
  font-size: 1.75rem;
}

hr::before {
  content: ".....";
  letter-spacing: 0.6em;
  margin: 0 0 0 0.6em;
}

.reset {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

::-moz-selection {
  background: #F99F34;
  color: #fff;
}

::selection {
  background: #F99F34;
  color: #fff;
}

::-moz-selection {
  background: #F99F34;
  color: #fff;
}

.header .container {
  position: relative;
  padding-top: 3.5em;
  max-width: 1400px;
  width: 100%;
  z-index: 500;
}
.header .group {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header .logo {
  width: 100%;
  max-width: 240px;
}
.header .logo a {
  display: block;
}
.header .logo img {
  width: 100%;
}
.header .mobile-icons {
  display: none;
}
.header .mobile-icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
.header .mobile-icons a,
.header .mobile-icons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 100%;
  color: #564C4E;
  font-size: 2rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.header .search {
  position: absolute;
  right: 1em;
  top: 1em;
}
@media (max-width: 900px) {
  .header .group {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo {
    max-width: 160px;
    max-height: 70px;
  }
  .header .search {
    display: none;
  }
  .header .mobile-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 100%;
  }
}

.nav {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
}
.nav ul {
  overflow: visible;
  padding: 0;
}
.nav ul ul {
  border-radius: 0.25em;
  padding: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -9999px;
  background: #fff;
  white-space: nowrap;
  min-width: 200px;
  -webkit-box-shadow: 0 4px 6px rgba(35, 31, 32, 0.11), 0 1px 3px rgba(35, 31, 32, 0.08);
          box-shadow: 0 4px 6px rgba(35, 31, 32, 0.11), 0 1px 3px rgba(35, 31, 32, 0.08);
  text-align: left;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  overflow: hidden;
}
.nav ul ul a {
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 10px;
  margin: 0;
}
.nav ul ul a:hover, .nav ul ul a:focus {
  background: #fef1e2;
}
.nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav > ul > li {
  margin: 0 0 0 2.5em;
}
.nav > ul li:last-child ul {
  left: auto;
  right: 0;
  text-align: right;
}
.nav li {
  position: relative;
  display: block;
}
.nav li.open > a {
  color: #F99F34;
}
.nav li.open ul {
  top: calc(100% + 4px);
  opacity: 1;
  z-index: 10;
}
.nav a {
  position: relative;
  font-size: 18px;
  font-size: 1.125rem;
  display: block;
  color: #231F20;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.nav a:hover, .nav a:focus {
  color: #F99F34;
}
.nav a i {
  font-size: 12px;
  font-size: 0.75rem;
  cursor: pointer;
  margin: 0 0 0 6px;
}
.nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  height: 2px;
  background: #F99F34;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.53, 0.21, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.4s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.4s cubic-bezier(0.53, 0.21, 0, 1), -webkit-transform 0.4s cubic-bezier(0.53, 0.21, 0, 1);
  will-change: transform;
}
.nav a:not(.button).open {
  color: #231F20;
}
.nav a:not(.button).open::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
@media (max-width: 900px) {
  .nav {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
  opacity: 0;
  -webkit-transition: opacity 0.45s cubic-bezier(0.42, 0.39, 0.17, 1), -webkit-transform 0.45s cubic-bezier(0.42, 0.39, 0.17, 1);
  transition: opacity 0.45s cubic-bezier(0.42, 0.39, 0.17, 1), -webkit-transform 0.45s cubic-bezier(0.42, 0.39, 0.17, 1);
  transition: transform 0.45s cubic-bezier(0.42, 0.39, 0.17, 1), opacity 0.45s cubic-bezier(0.42, 0.39, 0.17, 1);
  transition: transform 0.45s cubic-bezier(0.42, 0.39, 0.17, 1), opacity 0.45s cubic-bezier(0.42, 0.39, 0.17, 1), -webkit-transform 0.45s cubic-bezier(0.42, 0.39, 0.17, 1);
  overflow: hidden;
}
.menu.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}
.menu-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40vh;
  background: #fff;
  padding-top: 8em;
  padding-bottom: 2vh;
  visibility: hidden;
  overflow: hidden;
  -webkit-box-shadow: 0 0.625em 2.25em rgba(35, 31, 32, 0.0425), 0 0.625em 4.25em rgba(35, 31, 32, 0.0425);
          box-shadow: 0 0.625em 2.25em rgba(35, 31, 32, 0.0425), 0 0.625em 4.25em rgba(35, 31, 32, 0.0425);
}
.menu-panel.open {
  z-index: 2;
  visibility: visible;
}
.menu-panel.open .container {
  -webkit-transition: opacity 0.45s 0.2s cubic-bezier(0.42, 0.39, 0.17, 1);
  transition: opacity 0.45s 0.2s cubic-bezier(0.42, 0.39, 0.17, 1);
  opacity: 1;
  -webkit-animation: reveal-panel 0.45s 0.2s cubic-bezier(0.42, 0.39, 0.17, 1) forwards;
          animation: reveal-panel 0.45s 0.2s cubic-bezier(0.42, 0.39, 0.17, 1) forwards;
}
.menu .container {
  opacity: 0;
  border-bottom: none;
  -webkit-transition: opacity 0.125s cubic-bezier(0.42, 0.39, 0.17, 1);
  transition: opacity 0.125s cubic-bezier(0.42, 0.39, 0.17, 1);
}
.menu .group {
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 2.25em auto;
  grid-template-columns: auto auto;
  grid-gap: 0.875rem;
  grid-column-gap: 2.25em;
  overflow: visible;
}
.menu-header, .menu-links {
  max-width: 32em;
}
.menu-links {
  max-width: 42vw;
}
.menu-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-decoration: none;
  color: inherit;
}
.menu-link a:hover *, .menu-link a:focus * {
  color: #F99F34;
}
.menu-link a:hover .menu-link-icon, .menu-link a:focus .menu-link-icon {
  background: #f6f9fc;
}
.menu-link-icon {
  --size: 48px;
  width: var(--size);
  height: var(--size);
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: 1px solid rgba(86, 76, 78, 0.2);
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.menu-link-icon i {
  font-size: 1.125rem;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.menu-link-title {
  margin-left: 0.75em;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 76, 78, 0.1)), to(rgba(246, 249, 252, 0.1)));
  background: linear-gradient(to bottom, rgba(86, 76, 78, 0.1), rgba(246, 249, 252, 0.1));
}

@-webkit-keyframes reveal-panel {
  from {
    opacity: 0;
    -webkit-transform: translateY(1em) skewX(-4deg);
            transform: translateY(1em) skewX(-4deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0em) skewX(0);
            transform: translateY(0em) skewX(0);
  }
}

@keyframes reveal-panel {
  from {
    opacity: 0;
    -webkit-transform: translateY(1em) skewX(-4deg);
            transform: translateY(1em) skewX(-4deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0em) skewX(0);
            transform: translateY(0em) skewX(0);
  }
}
.mobile_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.mobile_nav .container {
  padding: 0;
  height: 100%;
  background: #f1f2f3;
}
.mobile_nav .mobile_nav_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}
.mobile_nav .mobile-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  min-height: 5em;
  margin-bottom: 1px;
}
.mobile_nav .mobile-icons a,
.mobile_nav .mobile-icons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 100%;
  color: #231F20;
  font-size: 2rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
}
.mobile_nav ul {
  overflow: unset;
  overflow-y: auto;
  height: 100%;
  max-height: 80vh;
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style: none;
}
.mobile_nav ul.top {
  background: #f6f9fc;
  padding-bottom: 5em;
}
.mobile_nav ul.top > li > a {
  background: #fff;
}
.mobile_nav li {
  position: relative;
  display: block;
  margin-bottom: 1px;
}
.mobile_nav li a {
  display: block;
  padding: 1.25em;
  color: inherit;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.mobile_nav .trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #fff;
}
.mobile_nav .trigger a {
  position: relative;
  width: calc(100% - 56px);
}
.mobile_nav .trigger button {
  width: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.mobile_nav .trigger .drop {
  width: 100%;
  height: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: 9999;
  position: relative;
  background: rgba(0, 0, 0, 0.025);
  -webkit-transition: max-height 0.15s ease-in-out;
  transition: max-height 0.15s ease-in-out;
}
.mobile_nav .drop {
  background: #f6f9fc;
  border-left: 0.5em solid #F99F34;
}
.mobile_nav .drop li:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}
.mobile_nav .drop li a {
  width: 100%;
}
.mobile_nav .mobile_closer {
  opacity: 0;
  z-index: -1;
}
.mobile_nav .mobile_closer:hover, .mobile_nav .mobile_closer:focus {
  opacity: 1;
  z-index: 1;
}

/* Nav open */
body.menu-open {
  overflow: hidden;
}

body.menu-open .mobile_nav {
  opacity: 1;
  z-index: 9999;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.ada-accessibility {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0;
}
.ada-accessibility:focus, .ada-accessibility:focus-within, .ada-accessibility.ada-accessibility-expanded {
  z-index: 999;
  opacity: 1;
}
.ada-accessibility .button + .button {
  margin-left: 0;
  margin-top: 0.25em;
}

.pageheading {
  margin: 0;
}
.pageheading + section {
  margin-top: 0;
}

.footer {
  width: 100%;
  background: #fef1e2;
  margin: 1em 0 0;
}
.footer .group {
  margin-top: 3em;
}
.footer-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 5em;
}
.footer-logo img {
  width: 100%;
  max-width: 100px;
}
.footer-nav {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px;
}
.footer-section h3 {
  font-size: 1.25rem;
}
.footer-links {
  list-style-type: none;
  padding: 0;
}
.footer-links a {
  color: #231F20;
  text-decoration: none;
  font-size: 1rem;
}
.footer-links a:hover, .footer-links a:focus {
  color: #F99F34;
}
.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid #ddd;
}
.footer .ewd {
  width: 200px;
  line-height: 1;
}
.footer .ewd img {
  width: 100%;
}

.layout {
  width: 100%;
}
.layout.layout_sidebar, .layout.layout_two_columns, .layout.layout_full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.layout.layout_sidebar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}
.layout.layout_sidebar .col_1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 800px;
}
.layout.layout_sidebar .col_2 {
  width: 300px;
  margin-left: 3em;
}
.layout.layout_sidebar .col_2 section {
  background: #fff;
}
@media (max-width: 900px) {
  .layout.layout_sidebar .col_1 {
    max-width: 100%;
  }
  .layout.layout_sidebar .col_2 {
    width: 100%;
    margin-left: 0;
  }
  .layout.layout_sidebar .col_2 section {
    background: none;
  }
}
.layout.layout_two_columns {
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .layout.layout_two_columns.layout_two_columns_right_first {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.layout.layout_two_columns .col {
  width: calc(50% - 1.5em);
}
.layout.layout_two_columns .col.col_1 {
  margin-right: 1.5em;
}
.layout.layout_two_columns .col.col_2 {
  margin-left: 1.5em;
}
@media (max-width: 768px) {
  .layout.layout_two_columns .col {
    width: 100%;
  }
  .layout.layout_two_columns .col.col_1 {
    margin-right: 0;
  }
  .layout.layout_two_columns .col.col_1 section:last-of-type {
    margin-bottom: 0;
  }
  .layout.layout_two_columns .col.col_2 {
    margin-left: 0;
  }
}
.layout.layout_full .container {
  max-width: 100%;
  padding: 0;
}
.layout + .layout {
  margin-top: 3em;
}

.sidebar .sidebar_section {
  margin-bottom: 1.5em;
  padding: 1em;
  background: #fff;
  border-radius: 0.25em;
}
@media (max-width: 900px) {
  .sidebar .sidebar_section {
    background: none;
    padding: 0;
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid #ddd;
  }
}

.section_heading {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.section_heading + * {
  margin-top: 0 !important;
}
.section_heading + * .container {
  padding-top: 0 !important;
}

/* Button Styling */
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}
.buttons-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buttons-center .button + .button {
  margin: 0 0 0 1em;
}
.buttons-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #fff;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0.925em 1.36em;
  background: #F99F34;
  color: #fff;
  border-radius: 0.5em;
  line-height: 1;
  font-weight: 600;
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.button + .button {
  margin: 0 0 0 1em;
}
.button:hover, .button:focus {
  background: #fab666;
  -webkit-box-shadow: 0 4px 6px rgba(35, 31, 32, 0.11), 0 1px 3px rgba(35, 31, 32, 0.08);
          box-shadow: 0 4px 6px rgba(35, 31, 32, 0.11), 0 1px 3px rgba(35, 31, 32, 0.08);
}
.button:active {
  background: #f38707;
  -webkit-box-shadow: 0 4px 6px rgba(35, 31, 32, 0.11), 0 1px 3px rgba(35, 31, 32, 0.08);
          box-shadow: 0 4px 6px rgba(35, 31, 32, 0.11), 0 1px 3px rgba(35, 31, 32, 0.08);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.button i + span {
  margin-left: 0.5em;
}
.button span + i {
  margin-left: 1.5em;
}
.button-reverse {
  background: #fff;
  color: #F99F34;
}
.button-reverse:hover, .button-reverse:focus {
  background: #fff;
}
.button-ghost {
  background: transparent;
  color: #F99F34;
  border: 1px solid #F99F34;
}
.button-ghost:hover, .button-ghost:focus {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #564C4E;
  border-color: #564C4E;
}
.button[disabled] {
  background: #f6f9fc;
  color: #231F20;
  cursor: default;
}
.button[disabled]:hover, .button[disabled]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (max-width: 768px) {
  .button, + .button {
    margin: 0 1em 1em 0;
  }
}

.social-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}
.social-icons:hover a, .social-icons:focus-within a {
  opacity: 0.5;
}
.social-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2em;
  height: 2em;
  padding: 0.25em;
  margin: 0.25em;
  color: #F99F34;
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
  text-decoration: none;
}
.social-icons a:hover, .social-icons a:focus {
  opacity: 1;
  -webkit-transform: translate(0, -5%);
          transform: translate(0, -5%);
}

.instagram .heading {
  width: 100%;
  margin: 0 0 1em;
  text-align: center;
}

.contact-info .section {
  margin-bottom: 2rem;
}
.notification {
  margin: 0 auto;
  padding: 0.5em;
  background: #F99F34;
  color: #fff;
  text-align: center;
}
.notification .container {
  padding: 0;
}
.notification .container * {
  color: #fff;
}

.responsive-iframe {
  position: relative;
  -webkit-box-shadow: 0 2px 4px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 2px 4px 0 rgba(35, 31, 32, 0.1);
}
.responsive-iframe::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.125em;
  overflow: hidden;
}

.select {
  position: relative;
  display: inline-block;
}
.select select {
  font-size: 16px;
  font-size: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.75em;
  padding-right: 4em;
  font-family: inherit;
  line-height: inherit;
  border-radius: 0.25em;
  border: 1px solid #ddd;
  color: #231F20;
  cursor: pointer;
}
@media (max-width: 640px) {
  .select select {
    font-size: 16px;
    font-size: 1rem;
  }
}
.select::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  height: 100%;
  width: 2em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
  pointer-events: none;
}

.pdo-loader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 2em auto;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}
.pdo-loader.pdo-loading {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}
.pdo-loader, .pdo-loader::after, .pdo-loader::before {
  width: 0.75em;
  height: 0.75em;
  background: #F99F34;
  border-radius: 50%;
  -webkit-animation: pdo-loader 600ms infinite linear alternate;
          animation: pdo-loader 600ms infinite linear alternate;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.pdo-loader::after, .pdo-loader::before {
  position: absolute;
  display: block;
  content: "";
}
.pdo-loader::before {
  left: -1.25em;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.pdo-loader::after {
  right: -1.25em;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
@-webkit-keyframes pdo-loader {
  0% {
    background-color: #F99F34;
  }
  100% {
    background-color: #fde5c9;
  }
}
@keyframes pdo-loader {
  0% {
    background-color: #F99F34;
  }
  100% {
    background-color: #fde5c9;
  }
}

.autocomplete-items {
  position: absolute;
  top: calc(100% + 1px);
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 2px 4px 0 rgba(35, 31, 32, 0.1);
  left: 1px;
  right: 1px;
  z-index: 99;
  overflow: hidden;
}
.autocomplete-items a {
  display: block;
  padding: 0.5em;
  width: 100%;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.autocomplete-items a:hover, .autocomplete-items a:focus, .autocomplete-items a.autocomplete-active {
  background: #f6f9fc;
}

.search {
  position: relative;
  min-width: 200px;
  max-width: 600px;
}
.search label {
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  z-index: -1 !important;
  opacity: 0;
}
.search button {
  position: absolute;
  background: none;
  height: 100%;
  cursor: pointer;
  outline: 0;
  border: 0;
  color: #231F20;
  top: 50%;
  right: 0;
  padding: 0 10px;
  line-height: 100%;
  font-size: 1.2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.search input {
  font-size: 14px;
  font-size: 0.875rem;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff;
  outline: 0;
  width: 100%;
  padding: 0.75em;
  padding-right: 3em;
  color: #231F20;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
}

.mobile-search {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 1em;
  z-index: 99;
  -webkit-box-shadow: 0 2px 4px 0 rgba(35, 31, 32, 0.1);
          box-shadow: 0 2px 4px 0 rgba(35, 31, 32, 0.1);
}
.mobile-search .search {
  position: relative;
  width: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  right: auto;
}
@media (max-width: 900px) {
  .mobile-search.open {
    display: block;
  }
  header .mobile-search.open .search {
    display: block;
  }
}

/* Search Results */
p.simplesearch-results, figure:not(.fig) figcaption.simplesearch-results,
.simplesearch-paging {
  margin: 1em auto;
}

.simplesearch-highlight {
  font-weight: 600;
  color: #F99F34;
}

.simplesearch-paging *:only-child {
  display: none;
}

.search-result {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
.search-result .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.search-result .cover {
  max-width: 150px;
  width: 100%;
  margin-right: 1em;
}
.search-result .cover img {
  width: 100%;
}
@media (max-width: 768px) {
  .search-result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .search-result .cover {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 1em;
  }
}

.blog {
  margin: 0 auto;
}
.blog.blog-layout .post:first-of-type {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog.blog-layout .post:first-of-type .summary {
  display: block;
}
.blog.blog-layout .post:first-of-type > * {
  width: 50%;
}
.blog.blog-layout .post:first-of-type .cover {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.blog.blog-layout .post:first-of-type .info {
  padding: 2em;
  text-align: left;
}
.blog .container > .group {
  margin: 0 -1em;
}
.blog .group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog a {
  text-decoration: none;
  color: inherit;
}
.blog .post {
  width: calc(33.333% - 2em);
  margin: 1em;
  border-radius: 0.25em;
  overflow: hidden;
  background: #fff;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.blog .post:hover, .blog .post:focus {
  -webkit-box-shadow: 0 4px 6px rgba(35, 31, 32, 0.11), 0 1px 3px rgba(35, 31, 32, 0.08);
          box-shadow: 0 4px 6px rgba(35, 31, 32, 0.11), 0 1px 3px rgba(35, 31, 32, 0.08);
}
.blog .cover {
  margin: 0 auto;
  overflow: hidden;
}
.blog .cover img {
  width: 100%;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.blog .caption {
  display: none;
}
.blog .info {
  padding: 1em;
}
.blog .title {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0;
}
.blog .summary {
  font-size: 16px;
  font-size: 1rem;
  padding-top: 1em;
}
@media (max-width: 768px) {
  .blog .post {
    width: calc(100% - 2em) !important;
  }
  .blog.blog-layout .post:first-of-type {
    display: block;
  }
  .blog.blog-layout .post:first-of-type > * {
    width: 100%;
  }
}

.blog-bar {
  margin: 0 auto;
}
.blog-bar .container {
  padding: 0 1em;
}
.blog-bar .group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #fff;
}
.blog-bar a {
  padding: 0.5em;
  color: inherit;
  opacity: 0.75;
  text-decoration: none;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.blog-bar a:hover, .blog-bar a:focus {
  opacity: 1;
}
.blog-bar a:first-of-type {
  font-weight: 600;
}
.blog-bar a.active {
  color: #F99F34;
}
.blog-bar button {
  padding: 0.5em;
  outline: none;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
@media (max-width: 768px) {
  .blog-bar {
    display: none;
  }
}

.pageheading + .post-meta + section {
  margin: 0;
}

.post-hero {
  margin-bottom: 1em;
}
.post-hero img {
  width: 100%;
}

.post-meta .meta {
  margin-bottom: 1em;
}
.post-meta .meta a {
  text-decoration: none;
  font-size: 0.875rem;
  display: inline-block;
}
.post-meta .meta .label {
  font-weight: 600;
  font-size: 1.25rem;
}
.post-meta .meta.author-photo img {
  max-width: 80px;
  width: 100%;
}

.tags .tag {
  font-size: 0.875rem;
  opacity: 0.75;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.tags .tag:hover, .tags .tag:focus {
  opacity: 1;
}
.tags .tag:only-child {
  margin: 0;
}
.tags .tag.post-tag {
  background: rgba(249, 159, 52, 0.15);
  color: #F99F34;
  padding: 0.5em;
  opacity: 1;
  border-radius: 0.25em;
  display: inline-block;
}

.alt_rows .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -2em 3em;
}
.alt_rows .group > * {
  padding: 1em;
}
.alt_rows .group:nth-of-type(even) .description {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.alt_rows .group .image {
  min-width: 275px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.alt_rows .group .image img {
  width: 100%;
}
.alt_rows .group .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 900px) {
  .alt_rows .group {
    margin: 0 auto 1em;
  }
  .alt_rows .group:nth-of-type(even) .description {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .alt_rows .group .image,
.alt_rows .group .description {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 100%;
    padding: 1em 0;
  }
}

.accordion .accordion-title {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1em 0;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-weight: 600;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.accordion .accordion-title {
  font-size: 1.25rem;
}
@media screen and (min-width: 38rem) {
  .accordion .accordion-title {
    font-size: calc(1.25rem + 0.5 * ((100vw - 38rem) / 32));
  }
}
@media screen and (min-width: 70rem) {
  .accordion .accordion-title {
    font-size: 1.75rem;
  }
}
.accordion .accordion-title.open {
  color: #F99F34;
}
.accordion .accordion-title.open i {
  -webkit-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
  opacity: 1;
}
.accordion .accordion-title i {
  margin-left: 1.5em;
  opacity: 0.5;
  -webkit-transition: -webkit-transform 186ms ease;
  transition: -webkit-transform 186ms ease;
  transition: transform 186ms ease;
  transition: transform 186ms ease, -webkit-transform 186ms ease;
}
.accordion .accordion-panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 186ms ease;
  transition: max-height 186ms ease;
}
.accordion .accordion-panel > *:last-of-type {
  margin-bottom: 1em;
}

.carousel {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.carousel .container {
  padding: 0;
}
.carousel .flickity-viewport {
  width: 100%;
}
.carousel .slide {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  position: relative;
  outline: none;
}
.carousel .slide a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}
.carousel .slide img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: auto;
}
.carousel .slide .info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 2em;
  text-align: center;
}
.carousel .slide .title {
  margin: 0;
  font-weight: 600;
}
.carousel .slide .title {
  font-size: 1.75rem;
}
@media screen and (min-width: 38rem) {
  .carousel .slide .title {
    font-size: calc(1.75rem + 1.25 * ((100vw - 38rem) / 32));
  }
}
@media screen and (min-width: 70rem) {
  .carousel .slide .title {
    font-size: 3rem;
  }
}
.carousel .slide .description {
  font-weight: 500;
}
.carousel .slide .description {
  font-size: 1rem;
}
@media screen and (min-width: 38rem) {
  .carousel .slide .description {
    font-size: calc(1rem + 0.75 * ((100vw - 38rem) / 32));
  }
}
@media screen and (min-width: 70rem) {
  .carousel .slide .description {
    font-size: 1.75rem;
  }
}
.carousel .slide .button {
  margin: 0.5em 0;
}
.features .group {
  margin: 0 -2em;
}
@media (max-width: 768px) {
  .features .group {
    margin: 0;
  }
}
.features .item {
  text-decoration: none;
  display: block;
  color: inherit;
  position: relative;
  margin: 1em;
  width: calc(33.333% - 2em);
  background: #fff;
  border-radius: 0.25em;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
  overflow: hidden;
}
.features .item .info {
  width: 100%;
  padding: 1em;
}
.features .item:hover, .features .item:focus {
  -webkit-box-shadow: 0 4px 6px rgba(35, 31, 32, 0.11), 0 1px 3px rgba(35, 31, 32, 0.08);
          box-shadow: 0 4px 6px rgba(35, 31, 32, 0.11), 0 1px 3px rgba(35, 31, 32, 0.08);
}
.features img {
  width: 100%;
  height: auto;
}

.gallery {
  margin: 1em auto;
}
.gallery .group {
  margin: 0 -1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery .item {
  width: calc(25% - 2em);
  margin: 1em;
  text-decoration: none;
  overflow: hidden;
  color: inherit;
}
.gallery .item img {
  width: 100%;
  -webkit-transition: 186ms ease;
  transition: 186ms ease;
}
.gallery .item:hover img, .gallery .item:focus img {
  opacity: 0.85;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.gallery .item .caption {
  margin-top: 0.25em;
}
@media (max-width: 768px) {
  .gallery .item {
    width: calc(33.333% - 2em);
  }
}
@media (max-width: 600px) {
  .gallery .group {
    margin: 0 -1em;
  }
  .gallery .item {
    width: calc(50% - 1em);
    margin: 0.5em;
  }
}
@media (max-width: 400px) {
  .gallery .item {
    width: calc(100% - 1em);
    margin: 0.5em;
  }
}

.introduction .container {
  max-width: 960px;
  padding: 1em;
  text-align: center;
}
@media (max-width: 768px) {
  .introduction {
    margin: 1em auto;
  }
}

.single_image {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 1em;
  overflow: hidden;
  border-radius: 0.25em;
}
.single_image img {
  width: 100%;
  display: block;
}

.slideshow {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slideshow .container {
  padding: 0;
}
.slideshow .flickity-viewport {
  width: 100%;
}
.slideshow .slide {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  position: relative;
  outline: none;
}
.slideshow .slide a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}
.slideshow .slide img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: auto;
}
.slideshow .slide .info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 2em;
  text-align: center;
}
.slideshow .slide .title {
  margin: 0;
  font-weight: 600;
}
.slideshow .slide .title {
  font-size: 1.75rem;
}
@media screen and (min-width: 38rem) {
  .slideshow .slide .title {
    font-size: calc(1.75rem + 1.25 * ((100vw - 38rem) / 32));
  }
}
@media screen and (min-width: 70rem) {
  .slideshow .slide .title {
    font-size: 3rem;
  }
}
.slideshow .slide .description {
  font-weight: 500;
}
.slideshow .slide .description {
  font-size: 1rem;
}
@media screen and (min-width: 38rem) {
  .slideshow .slide .description {
    font-size: calc(1rem + 0.75 * ((100vw - 38rem) / 32));
  }
}
@media screen and (min-width: 70rem) {
  .slideshow .slide .description {
    font-size: 1.75rem;
  }
}
.universal-table {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1em;
  overflow: hidden;
  overflow-x: auto;
}

table {
  width: 100% !important;
  height: auto !important;
  display: table;
  background: #fff;
  border-color: #f6f9fc;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead tr {
  text-align: left;
}
table th {
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  padding: 1rem;
  font-weight: bold;
}
table tr {
  text-align: left;
}
table td {
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  padding: 1rem;
  white-space: nowrap;
}