.footer {
    position: relative;
    width: 100%;
    font-family: $font-1;
    margin-top: 8vh;

    .container {
        max-width: 100%;
        padding: 3vh 270px;

        @media (max-width: 1920px) {
            padding: 3vh 120px;
        }
        @media (max-width: 1500px) {
            padding: 3vh 60px;
        }
        @media (max-width: 1200px) {
            padding: 3vh 0;
        }
        background: $color-1;
    }

    .group {
        align-items: flex-start;

        &.footer-copyright {
            align-items: center;
        }
    }

    p,
    a {
        @include fluid('font-size', 1rem, 1.25rem);
    }

    &-logo {
        flex: 1;

        img {
            width: 100%;
            max-width: 300px;
        }
    }

    &-contact {
        padding-left: 5vw;

        span {
            font-weight: 600;
        }

        a {
            text-decoration: none;
            color: $color-0;
        }

        p {
            margin-bottom: 0;
        }
    }

    &-copyright {
        // display: block;
        width: 100%;
        margin-top: 1em;
    }

    &-link-list {
        margin-top: 2em;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        li {
            margin-right: 1.5em;
        }

        a {
            text-decoration: none;
            color: $color-0;
        }
    }

    .copyright {
        // flex: 1;
        font-weight: 600;
    }

    .social-icons {
        flex: 1;
        justify-content: flex-end;

        a {
            color: $color-0;
        }
    }

    .cwr {
        display: flex;
        align-items: center;
    }

    .ewd {
        // flex: 1;
        line-height: 1;
        display: flex;
        align-items: center;
        margin-left: 1em;
        // justify-content: flex-end;

        a {
            display: inline-block;
            width: 175px;
            max-width: 175px;
        }

        img {
            width: 100%;
        }
    }

    .decor {
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(100% - 1px);
        pointer-events: none;
        user-select: none;
        z-index: -1;

        img {

        }
    }
}
