.nav {
    text-align: center;
    user-select: none;
    z-index: 10;

    ul {
        overflow: visible;
        padding: 0;

        ul {
            border-radius: 0.25em;
            padding: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            top: -9999px;
            background: #fff;
            white-space: nowrap;
            min-width: 200px;
            box-shadow: $box-shadow-2;
            text-align: left;
            transition: opacity 0.35s;
            overflow: hidden;

            a {
                @include fs(13px);
                padding: 10px;
                margin: 0;

                &:hover,
                &:focus {
                    background: $color-grey-2;
                }
            }
        }
    }

    > ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        > li {
            margin: 0 0 0 2.5em;
        }

        li:last-child ul {
            left: auto;
            right: 0;
            text-align: right;
        }
    }

    li {
        position: relative;
        display: block;

        &.open {

            > a {
                color: $color-1;
            }

            ul {
                top: calc(100% + 4px);
                opacity: 1;
                z-index: 10;
            }
        }
    }

    a {
        position: relative;
        @include fs(18px);
        display: block;
        color: $color-0;
        text-decoration: none;
        font-weight: 600;
        transition: $transition-1;

        &:hover,
        &:focus {
            color: $color-1;
        }

        i {
            @include fs(12px);
            cursor: pointer;
            margin: 0 0 0 6px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -0.25em;
            right: -0.25em;
            height: 2px;
            background: $color-1;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: 100% 100%;
            transition: transform 0.4s cubic-bezier(0.53, 0.21, 0, 1);
            will-change: transform;
        }

        &:not(.button).open {
            //background: $color-grey-2;
            color: $color-0;

            &::after {
                transform: scaleX(1);
                transform-origin: 0% 0%;
            }
        }
    }

    @media (max-width: 900px) {
        display: none;
    }
}
