.blog {
    margin: 0 auto;

    .container {
        max-width: 100%;
        padding: 0 270px;

        @media (max-width: 1920px) {
            padding: 0 120px;
        }
        @media (max-width: 1500px) {
            padding: 0 60px;
        }
        @media (max-width: 1200px) {
            padding: 0 0;
        }

        & > .group {
            margin: 0 -1em;
        }

    }

    .group {
        justify-content:center;

    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .post {
        width: calc(25% - 2em);
        margin: 1em;
        border-radius: 0.25em;
        overflow: hidden;
        transition: $transition-1;

        &:hover,
        &:focus {

            .title {
                color: $color-1;
            }
        }
    }

    .cover {
        margin: 0 auto;
        overflow: hidden;

        a {

            &:hover,
            &:focus {
                img {
                    transform: scale(1.08);
                }
            }
        }

        img {
            width: 100%;
            transition: $transition-1;
        }

    }

    .caption {
        display: none;
    }

    .info {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .title {
        margin: 0;
        transition: $transition-1;
    }

    .summary {
        @include fs(16px);
        padding-top: 1em;
    }

    .button {
        margin-top: 1em;
    }

    @media (max-width: 768px) {

        .post {
            width: calc(100% - 2em) !important;
        }

        &.blog-layout {

            .post:first-of-type {
                display: block;

                & > * {
                    width: 100%;
                }

            }
        }
    }

}
