//Colors
$color-0: #231F20;
$color-1: #F99F34;
$color-2: #564C4E;

$color-grey-1: #f6f9fc;
$color-grey-2: #fef1e2;
$color-grey-3: #564C4E;

//Fonts
$font-0: neuzeit-grotesk, sans-serif; //Adobe
$font-1: cronos-pro, sans-serif; //Adobe

//Box Shadow
$box-shadow-1: 0 2px 4px 0 rgba($color-0,.1);
$box-shadow-2: 0 4px 6px rgba($color-0,.11), 0 1px 3px rgba($color-0,.08);
$box-shadow-3: 0 7px 14px rgba($color-0,.11), 0 3px 6px rgba($color-0,.08);

//Transitions
$transition-1: 186ms ease;

//Sizing
$container-width: 1400px; //Sizing of the section .container as well as .column containers
